.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.logo {
  font-size: 30px;
  font-weight: bold;
}
.links {
  display: flex;
  align-items: center;
  gap: 10px;
}
